.card {
  width: 250px;
  height: 300px;
  display: grid;

  justify-content: center;
  place-items: center;
  background-color: #fbfcfb;
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px black;
  transition: all 0.2s;

  &__image {
    width: 150px;
  }

  &__name {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  &:hover {
    box-shadow: 8px 8px 10px black;
  }
}
